
dist/lib/Salient.JsonClient.35.Tests/bin/*
dist/lib/Salient.JsonClient.35/bin/*
dist/lib/Salient.JsonClient.Phone7.Tests/Bin/*
dist/lib/Salient.JsonClient.Phone7/Bin/*
dist/lib/Salient.JsonClient.Silverlight.Tests/Bin/*
dist/lib/Salient.JsonClient.Silverlight/Bin/*
reports/*
dist/*
src/Salient.JsonClient.35/obj/*
src/Salient.JsonClient.35.Tests/bin/*
src/Salient.JsonClient.35.Tests/obj/*
*_ReSharper*
src/Salient.JsonClient.35/bin/*
src/Salient.JsonClient.Phone7.Tests/Bin/*
src/Salient.JsonClient.Phone7.Tests/obj/*
src/Salient.JsonClient.Phone7/Bin/*
src/Salient.JsonClient.Phone7/obj/*
src/Salient.JsonClient.Silverlight.Tests/Bin/*
*.user
*.suo
*Resharper*
src/Salient.JsonClient.Silverlight/Bin/*
src/Salient.JsonClient.Silverlight.Tests/obj/*
src/Salient.JsonClient.Silverlight/obj/*
msbuild.log
msbuild.log
msbuild.log
src/_ReSharper.Salient.JsonClient/
src/Salient.ReliableHttpClient.CassiniDev.Tests/obj
src/Salient.ReliableHttpClient.Mocked.Tests/obj/*
src/Salient.ReliableHttpClient.ReferenceImplementation/obj/*
src/Salient.ReliableHttpClient.Serialization.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*/obj/debug/*