
dist/lib/Salient.JsonClient.35.Tests/bin/*
dist/lib/Salient.JsonClient.35/bin/*
dist/lib/Salient.JsonClient.Phone7.Tests/Bin/*
dist/lib/Salient.JsonClient.Phone7/Bin/*
dist/lib/Salient.JsonClient.Silverlight.Tests/Bin/*
dist/lib/Salient.JsonClient.Silverlight/Bin/*
reports/*
dist/*
src/Salient.JsonClient.35/obj/*
src/Salient.JsonClient.35.Tests/bin/*
src/Salient.JsonClient.35.Tests/obj/*
*_ReSharper*
src/Salient.JsonClient.35/bin/*
src/Salient.JsonClient.Phone7.Tests/Bin/*
src/Salient.JsonClient.Phone7.Tests/obj/*
src/Salient.JsonClient.Phone7/Bin/*
src/Salient.JsonClient.Phone7/obj/*
src/Salient.JsonClient.Silverlight.Tests/Bin/*
*.user
*.suo
*Resharper*
src/Salient.JsonClient.Silverlight/Bin/*
src/Salient.JsonClient.Silverlight.Tests/obj/*
src/Salient.JsonClient.Silverlight/obj/*
msbuild.log
msbuild.log
msbuild.log
src/_ReSharper.Salient.JsonClient/
src/Salient.ReliableHttpClient.CassiniDev.Tests/obj
src/Salient.ReliableHttpClient.Mocked.Tests/obj/*
src/Salient.ReliableHttpClient.ReferenceImplementation/obj/*
src/Salient.ReliableHttpClient.Serialization.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*/obj/debug/*
src/RecordingHarness/bin/*
src/RecordingHarness/obj/*
src/Salient.JsonSchemaUtilities.Tests/bin/*
src/Salient.JsonSchemaUtilities/bin/*
src/Salient.JsonSchemaUtilities/obj/*
src/Salient.ReliableHttpClient.CassiniDev.Tests/bin/*
src/Salient.ReliableHttpClient.Mocked.Tests/bin/*
src/Salient.ReliableHttpClient.ReferenceImplementation/bin/*
src/Salient.ReliableHttpClient.Serialization.Tests/bin/*
src/Salient.ReliableHttpClient.Serializer.JSON/obj/*
src/Salient.ReliableHttpClient.Serializer.Newtonsoft/bin/*
src/Salient.ReliableHttpClient.Serializer.Newtonsoft/obj/*
src/Salient.ReliableHttpClient.TestCore/bin/
src/Salient.ReliableHttpClient.TestCore/obj/
src/Salient.ReliableHttpClient.Tests/bin/*
src/Salient.ReliableHttpClient.Tests/obj/
src/Salient.ReliableHttpClient.TestWeb/obj/
src/Salient.ReliableHttpClient.Serializer.fastJSON/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Salient.ReliableHttpClient.Serializer.SystemRuntime/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Salient.ReliableHttpClient.Serializer.SystemWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Salient.ReliableHttpClient.Serializer.ServiceStack/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Salient.ReliableHttpClient.Serializer.JayRock/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Salient.ReliableHttpClient.Serialization.Tests/obj/
src/WcfRestService1/obj/